#name{
    text-align: center;
    font-size: 30px;
    color: rgb(228, 154, 17);
    font-weight:bolder;
    padding: 10px;
}
#main{
    height: 300px;
    width: 100%;
    border: 2px solid red;
    background-color: rgb(228, 159, 68);
}
.tilecontainer1{
    height:300px;
    width: 40%;
    background-color: orange;
    float: left;

}
.tilecontainer1 > img {
    height:300px;
    width: 100%;
}
.tilecontainer2{
    height:300px;
    width: 50%;
    background-color: rgb(228, 159, 68);
    float: left;

}
.componentheading{
    text-align: center;
    font-size:30px;
    color:orange;
    font-weight:bold;
    margin-top:5%
}
.componentsubheading{
    text-align: center;
    font-size:20px;
}
#skillcontainer{
    height: 200px;
    width: 100%;
    border: 2px solid rgb(54, 19, 19);
    background-color:rgb(221, 221, 248)
}
.skillheading{
    text-align: center;
    font-size:30px;
    color:orange;
    font-weight:bold;
}
.skillimage > img{
    height:100px;
    margin-left: 7%;
    text-align: center;
    margin-top: 2%;
}


#projectdiv{
    height:300px;
    width: 100%;
    border: 2px solid blue;
    background-color: rgb(245, 147, 147);
}
#projectheading{
    text-align: center;
    font-size:30px;
    color:orange;
    font-weight:bold;
}
.mainproject{
    height:200px;
    width:30%;
    border: 2px solid rgb(102, 102, 241);
    float:left;
    margin-left:13%;
    margin-top: 2%;
}
.mainproject > img {
    height:200px;
    width:100%;
}
.mainproject > a > img {
    height:200px;
    width:100%;
}

#locationdiv{
    height: 300px;
    width: 100%;
    border: 2px solid hotpink;
}
#locationdiv > p{
    text-align: center;
    font-size:30px;
    color:orange;
    font-weight:bold;
    background-color:rgb(155, 238, 88);
    padding: 10px;
    margin-top:0
}

#contactdiv{
    height: 120px;
    width: 100%;
    border: 2px solid pink;
    background-color: rgb(238, 200, 157);
}
.contactheading{
    text-align: center;
    font-size:30px;
    color:white;
    font-weight:bold;
    background-color:rgb(238, 200, 157);
    padding: 10px;
    margin-top:0
}
    
#mediaicon{
    text-align: center;
    margin-top:0.5%;
}
.slogo{
    height:50px
}